@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");

* {
    margin: 0;
}

:root {
    --accent-dim: #d98a30;
    --accent-normal: #f1c255;
    --accent-bright: #f8e68b;
    --bg-normal: #ffffff;
    --fg-normal: #000000;

    --valid-normal: #56bf4a;
    --invalid-normal: #e9423f;
}

html {
    font-family: "National Park", sans-serif;
    font-size: 14pt;

    background-color: var(--accent-normal);
}

body {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

header,
main {
    background-color: var(--bg-normal);
    border-radius: 20px;
}

header {
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1.25rem;
    margin-top: 1rem;
}

.field {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.field-header {
    font-size: 16pt;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;

    color: var(--fg-normal);
}

.field input[type="text"],
.field input[type="email"],
.field select,
.field textarea,
button {
    display: block;
    font-family: "National Park", sans-serif;
    font-size: 12pt;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
}

button {
    background-color: var(--accent-bright);
    border: 1px solid var(--accent-normal);
}

button:hover {
    background-color: var(--accent-normal);
    border: 1px solid var(--accent-dim);
}

.field textarea {
}
